<!DOCTYPE html>
<html>
<head>
    <% include templates/head.ejs%>
</head>

<body>
    <header>
        <% include templates/header.ejs%>
    </header>

    <div class="main">
        <h2 style="text-align: center; margin-top: 60px; margin-left: 80px; margin-right: 60px;"> If you need any help or want to improve the platform, please contact us by email:</h2>
        <h1 class="hover_text" style="text-align: center;" > zb712@ic.ac.uk</h1>

    </div>

</body>
</html>
