<!DOCTYPE html>
<html>
<head>
    <% include templates/head.ejs%>
</head>

<body>
    <header>
        <% include templates/header.ejs%>
    </header>



    <div class="main">
        <div style="padding-top: 0.5cm; text-align: center;">
            <h1 style="padding-bottom: 50px; margin-top: 0px; "> Upload Video</h1>
            <div style="padding-top: 80px;">
                <form ref='uploadForm' id='uploadForm' onsubmit="return validateForm()" action='/upload/uploadfile' method='post' id="uploadForm" encType="multipart/form-data">
                    <div style="padding-bottom: 0.5cm">
                        <input class="inputfile" type="file" id="uploadFile" name="uploadFile"/>
                        <label for="uploadFile"><span>Select Video</span></label>
                    </div>
                    <button class="button button3" type="submit" form="uploadForm" value="Submit">Upload</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function validateForm() {
            var x = document.getElementById('uploadForm')["uploadFile"].value;
            var ext = x.split('.').pop()
            if (x == "") {
                alert("Please upload a video file!");
                return false;
            }else if (ext != 'avi' && ext!='mp4'){
                alert("Please upload a .mp4 or .avi video file!");
                return false;
            }
        }
    </script>



    <script>
        var inputs = document.querySelectorAll( '.inputfile' );
        Array.prototype.forEach.call( inputs, function( input )
        {
            var label	 = input.nextElementSibling,
                labelVal = label.innerHTML;

            input.addEventListener( 'change', function( e )
            {
                var fileName = '';
                if( this.files && this.files.length > 1 )
                    fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                else
                    fileName = e.target.value.split( '\\' ).pop();

                if( fileName )
                    label.querySelector( 'span' ).innerHTML = fileName;
                else
                    label.innerHTML = labelVal;
            });
        });
    </script>

</body>
</html>